{% extends 'base.html' %} 
{% block title %} Sorteo {% endblock %} 

{% block content %}
<div class="container-lg">

    <div class="modal fade" id="modalToggle" aria-hidden="true" aria-labelledby="modalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalToggleLabel">Modal 1</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-toggle="modal">Open second modal</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalToggleLabel2">Modal 2</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal">Back to first</button>
            </div>
          </div>
        </div>
      </div>
    <div class="row m-2">
      <div class="col d-flex justify-content-evenly">
        <button type="button" class="btn btn-primary regresar" onclick="regresar()">Regresar</button>
        <button ype="button" class="btn btn-success" data-bs-target="#modalToggle" data-bs-toggle="modal">Comprar</button>
      </div>
    </div>
    <div id="posible" class="row d-flex justify-content-center m-2">
      
    </div>
    <div id="disponibles" class="row d-flex justify-content-center m-2">
        {% for number in numeros %}
          <button id="{{ number }}" class="col border rounded-pill m-lg-2 m-sm-1 text-center boleto"  style="max-width:75px;" >{{ number }}</button>
        {% endfor %}
    </div>
</div>
{% endblock %}